################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CompileAndConquer/v17
/CompileAndConquer/.vs/CompileAndConquer
